.boton{
    background-color: blue;
    border-radius: 10px;
    font-weight: 700;
    font-family: sans-serif;
    border: none;
    padding: 24px 32px;
    color: #ffffff;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
}